---
import MainLayout from "../layouts/MainLayout.astro";
import CategoryCard from "../components/CategoryCard.astro";
---

<MainLayout title="Search">
  <h2>Browse all</h2>
  <section id="searchSection">
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Podcasts" color="background-color: rgb(39, 133, 106)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Made For You" color="background-color: rgb(30, 50, 100)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="New Releases " color="background-color: rgb(141, 103, 171)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Dansk" color="background-color: rgb(232, 17, 91)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Pop" color="background-color: rgb(141, 103, 171)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Hip-Hop" color="background-color: rgb(115, 88, 255)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Rock" color="background-color: rgb(180, 155, 200)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Charts" color="background-color: rgb(240, 55, 165)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Latin" color="background-color: rgb(156, 240, 225)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Dance" color="background-color: rgb(215, 242, 125)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Mood" color="background-color: rgb(141, 103, 171)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Indie" color="background-color: rgb(20, 138, 8)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Discover" color="background-color: rgb(115, 88, 255)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Radio" color="background-color: rgb(119, 119, 119)" />
    <CategoryCard imgPath="https://picsum.photos/id/14/350/350.webp" title="Workout" color="background-color: rgb(175, 40, 150)" />
  </section>
</MainLayout>

<style>
  #searchSection {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: var(--space-md);
  }
</style>
